:root {
  --font-main: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #FCFCFC;
  --bg-color: #2E2E2E;
  --secondary-color: #D8F999;
  --tetriary-color: #111111;
  --color-text:#E0E0E0;
}


body{
    font-family: var(--font-main);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    background-color: var(--primary-color);
    font-weight: bold;
}

body h1{
    font-size: 5rem;
}


.about-hero{
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.ab-heading {
  display: flex;
  flex-direction: column;  
  align-items: flex-start; 
  line-height: 1.1;      
}

.ab-h1 {
  font-size: 5rem;
  margin: 0;
}

.ab-h2 {
  font-size: 5rem;
  margin-top: -5rem;
  margin-bottom: 2rem;
  padding-left: 3rem;
}

.a-grid-item-2 img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.a-grid-item-2{
    display: flex;
    align-items: flex-end;
    width: fit-content;
}

.a-hero-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1.4fr 1fr;    
}

.a-grid-item-1 p{
    width: 70%;
}

.a-text-1, .a-text-2{
      line-height: 2;
      font-size: 1.2rem;
}

.a-text-2{
    padding-left: 2rem;
    padding-top: 1rem;
    justify-self: center;
}

.nav-btn-2{
    justify-self: flex-start;
    margin-left: 8rem;
     white-space: nowrap;
}


/* slider css */
.text-slider {
    width: 100%;
    height: 60px;
    overflow: hidden;
    background: white;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

.slider-track {
    display: flex;
    align-items: center;
    height: 100%;
    animation: scrollLeft 15s linear infinite;
    white-space: nowrap;
}

@keyframes scrollLeft {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}


/* proces styling */
.about-galleri{
  background-color: var(--tetriary-color);
    background-position: center;
    color: var(--primary-color);
    padding: 2rem;
    border-radius: 20px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    line-height: 2;
      transform: translateZ(0);
}

.galleri-content{
  grid-column: 1;
  grid-row: 1;
}

.about-galleri p{
  font-size: 1.2rem;
}

.about-galleri h2{
    font-size: 2.8rem;
    margin: 0;
}


.about-img-container {
  grid-column: 2;
  grid-row: 1;
  position: relative;       /* let them overlap naturally */
  width: 100%;
  height:100%;            /* enough space for dragging */
  display: flex;
  justify-content: center;
  align-items: center;
}

.galleri-text-1{
    padding-bottom: 2rem;
}


/* Shared styles */
.about-img-container img {
  position: absolute;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
  width: 400px;   /* fixed width */
  height: 400px;  /* fixed height */
  object-fit: cover; /* crop instead of stretch */
  cursor: grab;
  transition: box-shadow 0.2s ease;
}

.drag-text{
  grid-row: 2;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-self: end;
  margin: 0;
  padding: 0;
}

.drag-text h2{
  font-size: 8rem;
  margin: 0 auto;
}


