:root {
  --font-main: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #FCFCFC;
  --bg-color: #2E2E2E;
  --secondary-color: #D8F999;
  --tetriary-color: #111111;
  --color-text:#E0E0E0;
}


body{
    font-family: var(--font-main);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
    background-color: var(--primary-color);
    font-weight: bold;
}

body h1{
    font-size: 5rem;
}

.see-project{
  display: none;
}

.projekt-heading{
    padding: 0 1.2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.projekt-heading h1{
    margin: 0;
}


.project-slider img{
    border-radius: 10px;
}

.project-card{
    width: fit-content;
    text-decoration: none;
    color: #111111;
}

.project-card h2{
    font-size: 2rem;
}

.project-card p, h2{
    margin: 0;
}

.project-slider{
    position: relative;
    overflow: hidden;
}

.projects-wrapper{
    display: flex;
    height: 100%;
}

/* Hvert projekt fylder en viewport */
.project-card {
  flex: 0 0 30vw;
  margin: 0 2vw;
  display: flex;
  flex-direction: column;
}

.text-marg{
    margin-top: -1rem;
}

.text-padding{
    padding-left: 3rem;
    margin-top: -1rem;
}

/* billedet centreres */
.project-card img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* det aktive kort */
.project-card.active {
  transform: scale(1);
  opacity: 1;
  z-index: 2;
}


/* image hover */

.horisontal-container img{
     transition: border-radius 0.4s ease, transform 0.4s ease;
}

.horisontal-container img:hover{  
  transform: scale(1.03); /* optional: subtle zoom */
}

.after-heading {
  height: 20vh; /* adjust how tall this block should be */
}

.after-heading h1 {
  opacity: 0;
  transform: translateY(50px); /* start slightly below */
}

.image-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
}

.image-wrapper img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

/* Info bar sits at bottom of image */
.info-bar {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  background: var(--tetriary-color);
 color: var(--primary-color);

  opacity: 0;                 
  transition: opacity 0.3s ease;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info-bar p{
    padding: 0.4rem;
}

/* Show bar on hover */
.image-wrapper:hover .info-bar {
  opacity: 1;
}

@media (max-width:859px){
  .projekt-heading h1{
    font-size: 3rem;
  }

  .projekt-heading{
    padding: 0;
  }

  .projects-wrapper{
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .project-card{
    width: 90%;
    margin-bottom: 2rem;
    margin: 0;
    padding-bottom: 4rem;
  }

  .see-project {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background: var(--tetriary-color);
  color: var(--primary-color);
  width:40%;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 500;
}


}

@media (min-width:860px) and (max-width:1023px){
.image-wrapper{
  height: 400px;
  width: 290px;
}


.image-wrapper img{
  margin-bottom: 1rem;
}

.project-card h2{
  font-size: 1.6rem;
  padding-top: 1rem;
}

.text-padding{
  margin-top: -2rem;
}

}

@media (min-width:1024px) and (max-width: 1440px){

  .image-wrapper img{
  height: 400px;
  width: 300px;
}

.projekt-heading.after-heading{
  margin-top: 0;
}

}